@font-face {
  font-family: "Figtree";
  src: url("../../public/assets/font/Figtree-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TitanOne";
  src: url("../../public/assets/font/TitanOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ortland";
  src: url("../../public/assets/font/Ortland.otf") format("truetype");
}

.containerFormParagon {
  display: flex;
  font-family: "UniversalSerif";
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  animation-duration: 1.8s;
  animation-delay: 0.5s;
  animation-name: fadeInUp;
  animation-fill-mode: both;  
  background: url("../../public/assets/kuksh/kuksh_pc.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
  gap: 2rem;
}

/* .containerFormParagon {
  display: flex;
  font-family: "UniversalSerif";
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  animation-duration: 1.8s;
  animation-delay: 0.5s;
  animation-name: fadeInUp;
  animation-fill-mode: both;
  padding-bottom: 14rem;
  background: url("../../public/assets/photomatics/bgPhotomatics.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
} */

.containerFormParagon2 {
  display: flex;
  font-family: "UniversalSerif";
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  animation-duration: 1.8s;
  animation-delay: 0.5s;
  animation-name: fadeInUp;
  animation-fill-mode: both;
  padding-bottom: 16rem;
  background: url("../../public/assets/GG/mobile2.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.containerInputFormParagon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.imageNovo {
  height: auto;
  width: 28rem;
  /* object-fit: contain; */
}

.containerComponentPhotomatics {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 30%;
  transform: translateX(-20%);
}

.componentPhotomatics {
  height: auto;
  width: 20rem;
}

/* .formParagon {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 26rem;
} */

.formParagon h1 {
  font-family: "UniversalSeriv";
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.inputWrapper p {
  color: #ffffff;
}

.inputWrapper input {
  font-family: "UniversalSerif";
  width: 37rem;
  height: 3rem;
  background-color: transparent;
  opacity: 0.7;
  border-radius: 1rem;
  padding-left: 1rem;
  border: 2px solid;
  border-color: #ffffff;
  font-size: 0.85rem;
}

.inputWrapper input:hover {
  border: 3px solid;
  border-color: #ffffff;
}

.inputWrapper input:focus,
.inputWrapper input:active {
  border: 3px solid #ffffff !important;
  outline: none;
}

.inputWrapper button {
  width: 30%;
  height: 3rem;
  padding: 1rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  font-size: 1.2rem;
  background-color: #ffffff;
  /* color: #ffffff; */
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.button-disabled {
  background-color: #9046ab;
  border: 2px solid #9046ab;
}

.submit-button:hover {
  background-color: #d9b858;
  border-color: #d9b858;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.submit-button:active {
  background-color: #a01f4a; /* Even darker background on click */
  border-color: #a01f4a; /* Match border color to the new background color */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Smaller shadow on click */
}

input {
  color: white;
}

input::placeholder {
  color: white;
}

@media only screen and (max-width: 900px) {
  .containerInputFormParagon {
    padding: 12em 0rem 1rem 0rem;
  }

  .imageNovo {
    object-fit: contain;
    /* width: 25rem; */
  }
}

@media only screen and (max-width: 816px) {
  /* .imageNovo {
    width: 25rem;
  } */

  /* .formParagon {
    top: 14rem;
  } */
}

@media only screen and (max-width: 816px) {
  /* .containerInputFormParagon {
    padding: 0;
  } */

  .formParagon {
    width: 80%;
  }

  .formParagon h1 {
    font-size: 1.2rem;
  }

  .inputWrapper {
    width: 100%;
  }

  .inputWrapper input {
    width: 100%;
  }

  .inputWrapper p {
    font-size: 0.8rem;
  }

  .submit-button {
    font-size: 1rem;
    width: 100%;
  }

  /* .containerFormParagon {
    background: url("../../public/assets/GG/wordcloud1.jpg");
    background-size: 100% 100vh;
    background-position: top center;    
    background-repeat: no-repeat;
    overflow: hidden;
  }   */

  .containerFormParagon {
    background: url("../../public/assets/kuksh/kuksh_mobile.jpg");
    background-size: cover;
    background-position: top center;    
    background-repeat: no-repeat;
    overflow: hidden;
  }  

  /* .containerFormParagon2 {
    background: url("../../public/assets/GG/wordcloud2.jpg");
    background-size: 100% 100vh;
    background-position: top center;    
    background-repeat: no-repeat;
    overflow: hidden;
  }   */

  .containerFormParagon2 {
    background: url("../../public/assets/GG/mobile2.png");
    background-size: cover;
    background-position: top center;    
    background-repeat: no-repeat;
    overflow: hidden;
  }  
}
